In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_lemas = pd.read_excel('~/Git/Academic_Research/Economics_Of_Policing/data/LEMAS_Variables.xlsx', 'Sheet1')
df_defintions = pd.read_excel('~/Git/Academic_Research/Economics_Of_Policing/data/LEMAS_Variables.xlsx', 'Sheet2')
df_priv = pd.read_excel('~/Git/Academic_Research/Economics_Of_Policing/data/Police_Privileges_and_LEMAS.xlsx', 'Sheet1')

In [14]:
relevant_var = list(df_defintions['Variable Name'])
relevant_var.append('City')
relevant_var.append('State')
relevant_var = sorted(relevant_var)
relevant_var

['BDGT_SRC_ASST',
 'BDGT_SRC_FED',
 'BDGT_SRC_FEE',
 'BDGT_SRC_MNC',
 'BDGT_TTL',
 'BDGT_TTL_EST',
 'COM_COL',
 'COM_MIS',
 'COM_NSARA',
 'COM_PTNR',
 'COM_SARA',
 'COM_SURV',
 'COM_TRN_INSRV',
 'COM_TRN_REC',
 'City',
 'FTCIV',
 'FTSWORN',
 'HIR_RTR_DB',
 'HIR_RTR_DC',
 'HIR_RTR_OTHR',
 'HIR_RTR_SS',
 'PAY_BARG',
 'PAY_FUNC_ADMN',
 'PAY_FUNC_CRT',
 'PAY_FUNC_EMRG',
 'PAY_FUNC_EVNT',
 'PAY_FUNC_INVS',
 'PAY_FUNC_PTRL',
 'PAY_FUNC_SHFT',
 'PAY_INCT_EDU',
 'PAY_INCT_HZRD',
 'PAY_INCT_LANG',
 'PAY_INCT_MRT',
 'PAY_INCT_OTHR',
 'PAY_INCT_RINC',
 'PAY_INCT_SD',
 'PAY_INCT_SPCL',
 'PAY_INCT_SPEC',
 'PAY_INCT_VOC',
 'PAY_LMT',
 'PAY_OUT',
 'PAY_OVER_NSW',
 'PAY_OVER_SW',
 'PAY_RMB_ARMR',
 'PAY_RMB_FIRE',
 'PAY_RMB_SFTY',
 'PAY_RMB_TUIT',
 'PAY_RMB_UNF',
 'PAY_RST_HRS',
 'PAY_RST_NO',
 'PAY_RST_OTHR',
 'PAY_RST_TYPE',
 'PAY_SAL_EXC_MAX',
 'PAY_SAL_EXC_MIN',
 'PAY_SAL_OFCR_MAX',
 'PAY_SAL_OFCR_MIN',
 'PAY_SAL_SGT_MAX',
 'PAY_SAL_SGT_MIN',
 'PAY_SBARG',
 'PAY_VEH_MRK',
 'PAY_VEH_UMRK',
 'PERS_RESP_CRT',
 'PERS_RESP_INVST',
 'PERS_RESP_JAIL',
 'PERS_RESP_OTHR',
 'PERS_RESP_PATRL',
 'PTCIV',
 'PTSWORN',
 'State']

In [13]:
df_lemas.head()

          City State
0      Abilene    TX
1        Akron    OH
2  Albuquerque    NM
3      Anaheim    CA
4    Anchorage    AK

In [14]:
df_priv.head()

,City,State,Disqualifies Complaints,Restricts/Delays Interrogations,Gives officers unfair access to info,Limits oversight/discipline,Requires City to Pay for Misconduct,Erases misconduct records,TOTALPRIV,ORI7,...,ISSU_MULTI,ISSU_TASK_SWAT,ISSU_TASK_DRUG,ISSU_TASK_GANG,ISSU_TASK_TRAF,ISSU_TASK_OTHR,ISSU_TASK_SPEC,BASEWT,NRADJUST,FINALWT
0,Albuquerque,NM,0,1,1,1,1,1,5,NM00101,...,1,1,1,1,2,1,Property crimes/economic crimes,1.046,1.098,1.148
1,Anaheim,CA,0,1,1,1,1,0,4,CA03001,...,1,1,2,2,1,1,Automobile Theft,1.046,1.098,1.148
2,Anchorage,AK,0,1,1,1,1,1,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arlington,TX,0,0,0,0,0,0,0,TX22001,...,1,1,1,2,1,1,Automobile Theft,1.046,1.098,1.148
4,Atlanta,GA,0,0,0,0,0,0,0,GAAPD00,...,1,2,1,1,1,1,Automobile Theft,1.046,1.098,1.148

In [15]:
df = df_priv[relevant_var]
df.head()

,BDGT_SRC_ASST,BDGT_SRC_FED,BDGT_SRC_FEE,BDGT_SRC_MNC,BDGT_TTL,BDGT_TTL_EST,COM_COL,COM_MIS,COM_NSARA,COM_PTNR,...,PAY_VEH_MRK,PAY_VEH_UMRK,PERS_RESP_CRT,PERS_RESP_INVST,PERS_RESP_JAIL,PERS_RESP_OTHR,PERS_RESP_PATRL,PTCIV,PTSWORN,State
0,1.0,1.0,1.0,1.0,155098000.0,2.0,1,3,703,1,...,1.0,1.0,8,200,0,60,703,15.0,20.0,NM
1,1.0,1.0,2.0,1.0,114943826.0,2.0,1,3,50,1,...,2.0,2.0,0,83,0,83,164,106.0,0.0,CA
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AK
3,1.0,1.0,2.0,1.0,82668931.0,2.0,1,3,336,1,...,2.0,2.0,5,149,6,125,336,13.0,26.0,TX
4,1.0,1.0,1.0,2.0,168651480.0,2.0,2,3,53,1,...,2.0,2.0,0,294,0,414,1232,0.0,0.0,GA