In [1]:
import pandas as pd
import numpy as np

In [2]:
df_247_rec = pd.read_excel("data/recruit247.xlsx")
df_nfl_players = pd.read_excel("data/PLAYER_nfl.xlsx")

In [3]:
list(df_247_rec.columns)

['playerRec',
 'posRec',
 'genPosRec',
 'htRec',
 'wgtRec',
 'hsRec',
 'homeCityRec',
 'homeStateRec',
 'yearRec',
 'rankNatRec',
 'rankPosRec',
 'rankStateRec',
 'rankAllRec',
 'scoreRec',
 'teamComRec',
 'UNITID_comRec',
 'teamStatusRec',
 'statusDateRec',
 'offersRec',
 'visitsRec',
 'coachVisRec',
 'posCol',
 'htCol',
 'wgtCol',
 'classYearCol',
 'classCol',
 'teamCol',
 'UNITID_col',
 'comDateCol',
 'jucoDum',
 'blankDum',
 'prepDum',
 'recNormal',
 'rankNatPREP',
 'rankPosPREP',
 'rankStatePREP',
 'jcRec',
 'recScrImp',
 'jcNoPriorNCAA',
 'jcRecNorm',
 'profJUCOURL',
 'collegeURLJC',
 'collegeURLNCAA',
 'profHSURL',
 'intURL',
 'profURL',
 'recYrHS',
 'htHS',
 'wgtHS',
 'rankNatHS',
 'rankPosHS',
 'rankStateHS',
 'rankAllHS',
 'recScrCompHS',
 'intURLJC']

In [4]:
list(df_nfl_players.columns)

['player',
 'fname',
 'lname',
 'pname',
 'pos1',
 'pos2',
 'height',
 'weight',
 'dob',
 'forty',
 'bench',
 'vertical',
 'broad',
 'shuttle',
 'cone',
 'arm',
 'hand',
 'dpos',
 'col',
 'dv',
 'start',
 'cteam',
 'posd',
 'jnum',
 'dcp',
 'UNITID']

In [5]:
df_nfl_players.head(1)

,player,fname,lname,pname,pos1,pos2,height,weight,dob,forty,...,hand,dpos,col,dv,start,cteam,posd,jnum,dcp,UNITID
0,AA-0025,Ameer,Abdullah,A.Abdullah,RB,NaN,69,205,1993-06-13,4.5,...,8.625,54,Nebraska,Big Ten,2015,MIN,RB,31,3,181464.0

In [6]:
sorted(list(df_247_rec['yearRec'].unique()))

[2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 nan,
 2019.0]

In [7]:
# Keep obs after 2000 as df_247_recruit data starts at 2000
df_nfl_players = df_nfl_players[df_nfl_players['start'] >=2000].copy()

In [8]:
df_247_rec.head(1)

,playerRec,posRec,genPosRec,htRec,wgtRec,hsRec,homeCityRec,homeStateRec,yearRec,rankNatRec,...,profURL,recYrHS,htHS,wgtHS,rankNatHS,rankPosHS,rankStateHS,rankAllHS,recScrCompHS,intURLJC
0,Andrew McKain,ILB,LB,73.0,220.0,Tucker,Tucker,GA,2004.0,1243.0,...,https://247sports.com/Player/Andrew-McKain-46849/,2004.0,73.0,220.0,1243.0,64.0,66.0,NaN,0.7667,NaN

In [9]:
print("number of nulls: {}".format(df_247_rec["playerRec"].isnull().sum()))

number of nulls: 0

In [10]:
df_247_rec["first_name"] = df_247_rec["playerRec"].apply(lambda x: x.rsplit(' ', 1)[0])
df_247_rec["last_name"] = df_247_rec["playerRec"].apply(lambda x: x.rsplit(' ', 1)[-1])

In [11]:
df_247_rec[["playerRec", "first_name", "last_name"]]

               playerRec first_name  last_name
0          Andrew McKain     Andrew     McKain
1           A.J. Morosco       A.J.    Morosco
2           Cleary Clark     Cleary      Clark
3             Wade Weyer       Wade      Weyer
4              Nick Lind       Nick       Lind
...                  ...        ...        ...
30847      Kenan Johnson      Kenan    Johnson
30848      Donald Monroe     Donald     Monroe
30849       Jordan Berry     Jordan      Berry
30850         Jason Mack      Jason       Mack
30851  Da'Quon Patterson    Da'Quon  Patterson

[30852 rows x 3 columns]

In [12]:
df_247_pnfl = pd.merge(df_247_rec,
                       df_nfl_players,
                       how="left",
                       left_on=["last_name", "first_name"],
                       right_on=["lname", "fname"],
                       suffixes=('_247', '_playernfl'))
df_247_pnfl.shape

(31330, 83)

In [14]:
list(df_247_pnfl.columns)

['playerRec',
 'posRec',
 'genPosRec',
 'htRec',
 'wgtRec',
 'hsRec',
 'homeCityRec',
 'homeStateRec',
 'yearRec',
 'rankNatRec',
 'rankPosRec',
 'rankStateRec',
 'rankAllRec',
 'scoreRec',
 'teamComRec',
 'UNITID_comRec',
 'teamStatusRec',
 'statusDateRec',
 'offersRec',
 'visitsRec',
 'coachVisRec',
 'posCol',
 'htCol',
 'wgtCol',
 'classYearCol',
 'classCol',
 'teamCol',
 'UNITID_col',
 'comDateCol',
 'jucoDum',
 'blankDum',
 'prepDum',
 'recNormal',
 'rankNatPREP',
 'rankPosPREP',
 'rankStatePREP',
 'jcRec',
 'recScrImp',
 'jcNoPriorNCAA',
 'jcRecNorm',
 'profJUCOURL',
 'collegeURLJC',
 'collegeURLNCAA',
 'profHSURL',
 'intURL',
 'profURL',
 'recYrHS',
 'htHS',
 'wgtHS',
 'rankNatHS',
 'rankPosHS',
 'rankStateHS',
 'rankAllHS',
 'recScrCompHS',
 'intURLJC',
 'first_name',
 'last_name',
 'player',
 'fname',
 'lname',
 'pname',
 'pos1',
 'pos2',
 'height',
 'weight',
 'dob',
 'forty',
 'bench',
 'vertical',
 'broad',
 'shuttle',
 'cone',
 'arm',
 'hand',
 'dpos',
 'col',
 'dv',
 'start',
 'cteam',
 'posd',
 'jnum',
 'dcp',
 'UNITID']

In [52]:
# Identify unique last names where UNITID_comRec == UNITID
u_com_rec = set(
    df_247_pnfl[df_247_pnfl['UNITID_comRec'] == df_247_pnfl['UNITID']]["last_name"])

In [53]:
# Identify unique last names where UNITID_col == UNITID
u_col = set(
    df_247_pnfl[df_247_pnfl['UNITID_col'] == df_247_pnfl['UNITID']]["last_name"])

In [54]:
# Identify which last names are in both
# TODO: Investigate indexes, potential for some last_names to be == with others !=
unitid_intersect = set(np.intersect1d(list(u_com_rec), list(u_col), assume_unique=True))

In [62]:
# Last names to investigate
set(u_com_rec|u_col)  - unitid_intersect

{'Beavers',
 'Celiscar',
 'Christion',
 'Dahl',
 'Garoppolo',
 'Gillaspia',
 'Goodwin',
 'Hackett',
 'Hickman',
 'Hoppes',
 'Horsted',
 'Iupati',
 'Kaddu',
 'Kanoff',
 'Langi',
 'Lovett',
 'Lundblade',
 'Madaris',
 'Manton',
 'Parms',
 'Reilly',
 'Searight',
 'Staples',
 'Stave',
 'Torgersen',
 'Ume-Ezeoke',
 'Vea'}

In [64]:
df_247_pnfl.to_csv("data/merged.csv")